{% extends 'base.html.twig' %}

{% block title %}Edit Category{% endblock %}

{% block body %}
    <h1>Edycja kategorii {{ category.title }}</h1>

    {{ include('category/_form.html.twig', {'button_label': 'Aktualizuj'}) }}

    <div class="row mt-5">
        <div class="col-sm-2">
            <a class="btn btn-info" href="{{ path('app_category_index') }}">Wrócić do listy</a>
        </div>
        <div class="col-sm-2">
            {{ include('category/_delete_form.html.twig') }}
        </div>
    </div>
    

    

    
{% endblock %}
