{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
    <h1>Dodaj nową kategorię</h1>

    {{ include('category/_form.html.twig') }}

    <a class="btn btn-info mt-3" href="{{ path('app_category_index') }}">Wrócić do listy</a>
{% endblock %}
